# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore

.gcloudignore
.git
.gitignore
node_modules
npm-debug.log
.env
*.md
test-*.js
scripts/seedData.js
scripts/seedDatabase.js
